
.main_content{background-color: #F5F5F5 !important; width: 100%; height: auto; min-height: 100%; overflow: scroll; overflow-x:hidden;}
.content_wrap{width: 1280px; height: auto; min-height: 100%; margin: 0 auto;}

.main_aside{display: inline-block; width: 200px; height: 100%; min-width: 100px; text-align: left; padding :0 30px; float: left;}
.items{list-style: none; margin: 0 auto; padding: 0px;}
.item_title{font-size: 16px; font-weight: 700; color : #333333; margin-bottom: 24px;}
.active{color : #595959 !important;}
.active a{text-decoration: none; color: #595959 !important;}
.active a:hover{text-underline: none; text-decoration: none;  color : #1dc078}
.items li a{color: #bdbdbd; text-decoration: none;}
.items li a:hover{color: #1dc078; text-decoration: none;}
.items li{color: #BDBDBD; margin-bottom: 20px; font-size: 15px; font-weight: 700;}
.submit{padding: 8px !important; font-size: 16px !important; font-weight: 800 !important;}
.submit:hover{cursor: pointer;}