html, body{margin: 0; padding: 0; height: 100%; font-size: 16px;}
.wrap{height: 100%;}
.flex_wrap{display: flex; height: 100%; justify-content: space-between; flex: 1; }
.aside_wrap{height: 100%;  min-width: 240px !important; width: 100%; flex-basis: 240px; align-items: stretch; }
.column_wrap{display: flex; background-color: #f1f3f5; justify-content: flex-start; flex-direction: column;  flex-grow: 3; position: relative; overflow: auto;}
footer {
    margin-top: auto;
}

@media (max-width: 920px) {
    .aside_wrap{display: none;}
}