
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.content {
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
}

.page_content {
    display: inline-flex;
    width: 100%;
    max-width: 1060px;
    height: 100%;
}

footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background: grey;
    color: white;
}

.wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

.menu_template_line {
    width: 100%;
    height: 64px;
    background-color: #333b3d;
    padding: 0.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu_template_title {
    width: 1280px;
    align-self: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 30px;
    text-align: left;
}

.height100_wrap{
    width: 100%;
    height: 100%;
    min-height: 85vh;
}
.content_wrap_color {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

@media (max-width: 1250px) {
    .page_content {
        width: calc(100% - 220px);
    }
}

@media (max-width: 1000px) {
    .page_content {
        width: 100%;
    }
    .aside_warp{
        display: none;
    }
}
