html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
}
/*footer{ position:absolute;*/
/*    left:0px;*/
/*    right: 0px;*/
/*    bottom:0px;*/
/*    height:60px;*/
/*    width:100%;*/
/*    background:grey;*/
/*    color: white; }*/
.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
}
.content{flex: 1;}
footer{
    flex-shrink: 0;
}