html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
footer{ position:absolute;
    left:0px;
    right: 0px;
    bottom:0px;
    height:60px;
    width:100%;
    background:grey;
    color: white; }
.wrap{
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}