body, body *{font-family: "Noto Sans KR";}

.main_wrap{width: 100%; height: 100%; margin: 0 auto;}
.course_main{ width: 100%; margin: 0 auto; background-color: #2c2e37; display: flex; justify-content: center; max-height: 200px !important; padding: 24px 0; text-align: center;}
.course_content{width: 1160px; margin: 0 auto; text-align : center; max-height: 176px !important; }
.content_wrap{display : flex;width: 100%; margin: 0 auto; padding: 12px; }
.content_wrap:after{content: ''; display: block; clear: both;}
.progress_text{color: white; margin: 0; padding: 0; text-align: left;}
.course_detail_description{margin-bottom: 50px;}
.no_underline{text-decoration: none; text-underline: none; color: #363636;}
.no_underline:hover{text-decoration: none !important; color: #363636;}
/*.course_box{display: flex; flex-direction: column; z-index: 10; background-color: white; padding: 24px; border: 1px solid #e9ecef; border-radius: 8px; width: 320px; height: 640px;}*/
/*right : 370px;*/
.course_box{position: absolute; margin-top: 24px; display: inline-block; right: 200px;  z-index: 10; background-color: white; padding: 24px; border: #E9ECEF 1px solid; border-radius: 20px;  width: 320px; height: 620px;}
.flex_content{display: flex; flex-direction: row; justify-content: flex-start; min-width: 73% !important;}
.course_progress{width: 100%; min-width: 450px;}

.box_wrap{display: flex; width: 100%; height: 100%;}
.learning_box {background-color: #00C471; font-size: 16px; font-weight: bold; color : white; text-align: center; border-radius: 1px; width: 270px;height: 48px; line-height: 48px; margin-bottom: 10px; cursor: pointer;}
.learning_box:hover{background-color: #00a65f;}
.list_box{font-size: 14px; color : #343A40; text-align: center; border : 1px solid #DEE2E6; width: 270px;height: 48px; line-height: 48px; text-align: center; cursor: pointer; margin-bottom: 20px; box-shadow:0 2px 3px 0 rgba(0,0,0,.02), inset 0 0 0 1px #dee2e6}
.list_box:hover{box-shadow: inset 0 0 0 1px #adb5bd;}
.course_price{text-align: left; font-size: 28px; color : black; font-weight: bold; margin-bottom: 20px;}
.course_subtext{color: #6d6d6d; font-size: 12px; text-align: left; margin-bottom: 30px;}
.top_margin{margin-top: 5px;}

/* 컨텐츠 부분 */
.course_content_section{width : 1160px; margin: 0 auto;}
.course_content_wrap{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; padding:0px;}
.ul_wrap{height: 42px !important; width: 100%; border-bottom: 1px solid #dbdbdb;}
.ul_wrap ul{display: flex;  justify-content: flex-start; padding: 0px; }
.ul_wrap ul li{list-style: none; padding: 10px; cursor: pointer;}
.course_info_wrap{width: 100%; display: flex; justify-content: space-between;}
.ul_wrap ul li:hover{border-bottom: 1px solid #1dc078;}
.active{border-bottom: 2px solid #1dc078 !important; font-weight: 700;}
.course_content_area{width: 100%; height: 100%;}
.course_form{margin: 10px; width: 100%; padding: 12px; background-color: #f5f8f8; display: flex; flex-direction: column; justify-content: space-between;}
.course_form h3{margin-top: 10px;}
.no_style{ list-style: none; padding-left: 12px; margin: 5px 0;}
.red_text{color : red;}
.instructor_img{width: 58px; height: 58px;}
.introduce{display: flex; flex-direction: row; justify-content: flex-start;}
.course_form_margin{margin: 24px 0;}
.course_active{display: flex !important;}
.course_info{display: none; flex-direction: column;}
.course_question{display: none; flex-direction: column;}
.course_board{display: none; flex-direction: column;}
.course_newly{display: none; flex-direction: column;}
.course_management{display: none; flex-direction: column;}
.cart{padding-top: 12px !important;}
.long_description{margin: 24px 0;}
.course_short_desc{font-size: 17px;}
.tag_item{font-size: 17px;}

/* 질문답변 시작*/
.question_btn_wrap{display: flex; justify-content: flex-end; margin-top: 20px; margin-bottom: 8px;}
.question_button{color : white; background-color: #FF6D5A; font-weight: 600; font-size: 16px; padding: 8px 12px; border-radius: 4px; cursor: pointer;}
.question_data{max-width:850px; border: 1px solid #e9ecef; box-shadow: 0 2px 3px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1); padding: 20px; margin: 16px 0;}
.question_flex_wrap{display: flex;}
.question_content_wrap{display: flex; flex-direction: column; margin-left: 18px;}
.question_user_content{display: flex;}
.question_user_img{display: flex;}
.question_img_content{width: 48px; height: 48px;}
.question_title{font-size: 16px; font-weight: 600;}
.question_user_name{font-size: 12px; font-weight: 500; align-self: center; margin-left: 8px;}
.question_content{font-size: 16px; overflow: hidden;}
.like{color : #ff7867;}
.comment{color: #333333;}
.question_reaction_wrap{display: flex; justify-content: flex-end;}
.comment, .like{display: flex; cursor: pointer; padding-left: 8px;}
.like_reaction_logo i{font-size: 18px;}
.comment_reaction_logo i{font-size: 18px;}
.like_reaction_content, .comment_reaction_content{padding-left: 4px;}
/* 모달 */
.add_question_title_input{padding-top: 30px;}
.gray_input{width: 100%; height: 40px; border: 0; margin-bottom: 12px; border-radius: 3px; padding: 0 12px;box-shadow: none; font-size: 16px; color : #595959; background-color: #f6f6f6;}
.gray_input:focus{outline: none;}
#add_question_form{display: none; position : fixed; width: 100%; height: 100%; top: 0; left : 0; overflow: auto; background-color: rgba(0,0,0,0.4); padding-top: 200px; z-index: 99;}
.add_question_content{width: 920px; height: 720px; background-color: #fefefe;margin: 5px auto; border: 1px solid #888; border-radius: 5px;}
.add_question_container{width: 94%; margin : 0 auto;}
.add_question_buttons{margin-top: 18px; display: flex; }
.add_question_buttons div{}
.add_class_description_container h2{font-size : 18px; margin-top: 18px;}
.add_class_description_container p{font-size: 16px;}
.tox-mbtn__select-label{color : black !important; background-color: #000;}
/* 질문답변 끝 */

/* 교육과정 css 시작*/
.section_wrap{display: flex; flex-direction: column; margin: 5px 0;}
.curriculum_content{display: flex; flex-direction: column;}
.curriculum_content{color : #595959;}
.section_head {display: flex; justify-content: space-between; align-content: center; background-color: #f5f5f5; padding: 12px; border-radius: 5px; cursor: pointer;}
.section_class_box{display: flex; justify-content: space-between; align-content: center; border-bottom: 1px solid #eee; padding: 9px 9px 9px 20px;}
.section_head{font-size: 16px;}
.section_title{font-weight: 800; width: 75%; display: flex; flex-grow: 1; align-items: center;}
.right_margin{margin-right: 8px;}
.horizontal_margin{margin: 0 5px;}
.section_class_length_box{display: flex; flex-grow: 1; justify-content: center; align-items: center;}
.section_box{display: flex; flex-grow: 1; justify-content: space-between; align-items: center;}
.button_plus, .button_minus {display: flex; align-self: center;}
.button_hide{display: none;}
.class_title{display: flex; width: 75%; flex-grow: 1; align-items: center;}
.class_box{display: flex; flex-grow: 1; justify-content: flex-end; align-items: center;}
.hide_class{max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out;}
/* 교육과정 css 끝 */

/* 수강신청 시작 */
.cart_icon{font-size: 50px; color: #1dc078; margin-bottom: 20px;}
#course_cart_form{display: none; position : fixed; width: 100%; height: 100%; top: 0; left : 0; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); padding-top: 200px; z-index: 30;}
.course_cart_content{width: 416px; height: 320px; background-color: #fefefe;margin: 5px auto; border: 1px solid #888; border-radius: 5px;}
.course_cart_container{width: 100%; height: 100%; padding: 38px 64px; display: flex; flex-direction: column; align-content: space-between;}
.cart_content{display: flex; flex-direction: column; align-items: center;}
.cart_buttons{margin-top: 30px; display: flex; justify-content: center;}
.cart_message_title{font-size: 22px; font-weight: 500; word-break:keep-all; text-align: center; margin-bottom: 6px}
.cart_message_description{text-align: center; font-size: 16px;}
.cancel_button{padding: 8px 24px; background: #F5F5F5; cursor: pointer; border-radius: 3px;}
.submit_button{padding: 8px 24px; margin-right: 10px; color: #fff; background: #1dc078; cursor: pointer; border-radius: 3px;}
/* 수강신청 끝*/
/* 결제하기 시작 */
.course_payment_form{display: none;}
.payment_box:hover{background-color: #00a65f;}
#course_cart_form{display: none; position : fixed; width: 100%; height: 100%; top: 0; left : 0; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); padding-top: 200px; z-index: 30;}
.course_cart_content{width: 416px; height: 320px; background-color: #fefefe;margin: 5px auto; border: 1px solid #888; border-radius: 5px;}
.course_cart_container{width: 100%; height: 100%; padding: 38px 64px; display: flex; flex-direction: column; align-content: space-between;}
.cart_content{display: flex; flex-direction: column; align-items: center;}
/* 결제하기 끝 */
@media (max-width: 1190px) {
    .content_wrap{width: 100%;}
    .content_wrap{margin : 0; padding:0;}
    .flex_content{width: calc(100% - 370px) !important;}
    .course_ul{width: 100%;}
}
/*@media (max-width: 1630px) {*/
/*    .course_box{right : 222px}*/
/*}*/
/*@media (max-width: 1300px) {*/
/*    .course_box{right : 100px;}*/
/*}*/
/*@media (max-width: 1200px) {*/
/*    .course_box{right : 0px;}*/
/*    .content_wrap{width: 100%;}*/
/*}*/
/*@media (max-width: 1000px) {*/
/*    .course_box{display: none;}*/
/*}*/