html, body, .main_wrap{width: 100%; height: auto; min-height: 100%;}
.main_wrap{width: 100%; margin: 0 auto; height: auto; min-height: 100%;}

.main_content{width: 100%; height: auto; min-height: 100%; overflow: scroll; overflow-x:hidden;}
.content_wrap{width: 1280px; height: auto; min-height: 100%; margin: 0 auto;}

.content_data{height: 320px; margin-top: 180px; text-align: center;}
.content_data p {text-align: center; font-size: 16px; font-weight: 800;}
.content_data input{display: inline-block; border: 1px solid transparent; color: #5f5f5f;padding: 10px;}
.content_data input:focus{outline: #1dc078 solid thin;}
.course_name{width: 450px; height: 50px; background-color: #F6F6F6;}

.button_wrap{width: 100%; margin: 0 auto; text-align: center;}
.submit_button{background-color: #1dc078; color: white; padding: 10px 20px; width: auto !important; box-shadow: 0 0 4px 0 rgba(0,0,0,.24); font-weight: 800;}
.submit_button:hover{border: 1px solid #b5b5b5;}
.submit_button:focus{outline: none;}