.aside_warp {display: inline-flex; max-width: 200px; margin-right: 40px; margin-left: 20px;}
.flex_warp{display: flex; flex-direction: column; width: 200px;}
.aside_menu a div{padding: 8px 0; align-items: center; color: #454545; font-size: 16px;}
.select_menu{font-weight: 700; color: #1dc078;}
.select_menu div{color: #1dc078 !important;}
.select_menu div:hover{color: #454545 !important;}
.aside_menu a:hover{text-decoration: none;}

@media (max-width: 620px) {
    .aside_warp {display: none; margin: 0;}
}