body, body *{font-family: "Noto Sans KR";}
.main_section{margin-left: 10px; width: 1030px; height: 100%; margin-bottom: 80px; display: inline-block;}
.card_line{width: 100%;}
.card_wrap{width: 48%; padding: 1%; display: inline-block;}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border : #E4E5E5 1px solid;
    border-radius: 3px;
    min-height: 230px;
    box-shadow: 1px 1px 1px 1px #f0f1f1;
    padding: 12px;
}

.section_title{text-align: left;}
.card_title{text-align: left; font-weight: bold; display: flex; margin-bottom: 12px; font-size: 18px;}
.card_content{display: flex; flex-direction: column; flex-grow: 1; justify-content: space-between;}
.card_toolbox_button_template{color: #454545; opacity: .4; display: flex; justify-content: flex-end;}
.card_content_wrap{display: flex;}
.card_logo{display: inline-block; float: left; margin-right: 10px; width: 64px; height: 64px; overflow: hidden; border-radius: 70%;}
.card_logo img{width: 100%; height: 100%; object-fit: cover;}
.card_description{text-align: left; display: inline-block; float: left;}
.user_name{font-size: 22px; font-weight: 600;}
.user_nickname .user_email{font-size: 14px;}
.nosearch{display: flex; justify-content: center; align-items: center; flex-grow: 1; font-size: 18px;}

@media (max-width: 1250px) {
    .card_wrap{width: 100%;}
    .main_section{width: 100%;}
}
/* 화면 너비 0 ~ 768px */
@media (max-width: 880px) {
    .card_wrap{width: 100%;}
}

@media (max-width: 600px) {
    .main_section{width: 100%;}
    .aside_menu{display: none;}
}