body, body *{font-family: "Noto Sans KR";}
/* carousel */
.slide_image{height : 320px !important; width: auto; display: inline-block; margin : 0 auto !important; padding-left: 40% !important; }
.carousel-inner{width:100%;max-height: 320px !important;}
.carousel-caption{left: 20% !important;padding-bottom: 60px !important;}
/* search */
.focus_wrap{display: inline-block; width: auto; min-width: 580px; height: auto;}
.search{margin-top: 50px;}
.search_content{text-align: center; margin: 0 auto;}
.search-text{font-family: "Noto Sans KR"; text-align: center; margin: 12px 0 20px 0;}
.search_iuput_border{display: flex; justify-content: center; margin: 0 auto; border : #1dc078 solid 1px; background-color: #E3F8EF; text-align: center;  border-radius: 20px; width: 100%; height: 100%; max-width: 580px; max-height: 54px; min-height: 54px !important; transition: all .5s ease;}
.search_iuput_border:focus-within{background-color: white;}
.search_input_radius{ border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-bottom: 0px;}
.search_input{display: flex; background-color: inherit; border: none; width: 80%; max-width: inherit; color: #5f5f5f; border-radius: 20px; align-content: center; }
.search_input:focus{outline: none; }
.search_icon{color : #6d6d6d; display: inline-block; z-index: 1; position: relative; margin-top: 18px; }
.search_icon i{line-height: 10px; }
/* course */
.course_click{text-decoration: none; color: inherit; text-underline: none;}
.course_click:hover{text-decoration: none;}
.course_search_content:hover{background-color: #f5f5f5;}
.card{display: inline-block;}
.starter{width: 70%; text-align: center; margin: 0 auto;}
.course_items{text-align: left;overflow: auto;}
.c_title{font-size: 16px; margin-top: 5px; min-height: 40px;}
.c_instructor{font-size: 14px; color: #7d7d7d; }
.c_price{color : #175cbe; font-weight: 700;}
.noATagCss{outline: none; text-decoration: none; color : black;}
.noATagCss:hover{text-decoration: none; outline: none; color: inherit;}
.sections{width: 1200px; margin: 0 auto;}
.container_header{width: 100%; text-align: left;}
.course_container{width: 100%;}
.course_items{width: 98%; overflow: hidden; padding: 2%;}
.course{width: 18%; margin: 1%; height: 250px; float: left;}
.course_image img{height: auto; max-height: 150px; width: 100%;}
.c_tag{font-size: 12px;}
.search_area{display : none; z-index: 10; position: absolute; margin: 0px; padding: 20px 20px 20px 20px; width: 580px; height: 240px; background-color: white; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; border-left: 1px solid #1dc078; border-right: 1px solid #1dc078; border-bottom: 1px solid #1dc078; flex-direction: column;}
.course_search_wrap{display: flex; justify-content: flex-start; padding: 5px 0 5px 0;}
.course_search_title{color: #929292; font-weight: 700; font-size: 12px;}
.course_search_content{display: flex; padding: 8px 20px; align-items: center;}
.search_image_wrap{display: flex;}
.search_img{width: 52px; height: 37px;}
.search_result_content{ display: flex; flex-direction: column; padding-left: 10px; align-content: center; justify-content: flex-start;}
.search_content_title{display: inline-flex; font-weight: 700; font-size: 14px; color: #333333;}
.search_content_name{display: inline-flex; font-size: 12px; color: #757575;}
.course_search_content_wrap{display: flex; flex-direction: column;}
.course_parent{flex-grow: 1;}
.search_loading_icon{width: 40px; height: 40px; backface-visibility: visible; transform-style: preserve-3d; perspective: 300px; animation: spin 1s linear infinite;}
.search_loading{display: none; justify-content: center; align-content: center; width: 100%; height: 100%;}
.search_icon_wrap{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;}
.search_result{display: none;}
@keyframes spin {
    0% {transform : rotateY(0deg);}
    100% {transform : rotateY(360deg);}
}
/* 화면 너비 0 ~ 1200px */
@media (max-width: 1220px) {
    .sections{width: 100%;}
    .course{width: 31.3333%;}
    .course_items{margin: 0 auto;}
    .course:nth-child(3){display: block;}
}

/* 화면 너비 0 ~ 768px */
@media (max-width: 768px) {
    .course{width: 31.3333%; margin : 1%;}
    .course:nth-child(3){display: block;}
}

@media (max-width: 600px) {
    .search_iuput_border{max-width: 100% !important;}
    .focus_wrap{width: 100%; max-width: 100% !important; min-width: 100%;}
    .search_area{width: 100%;}
}

/* 화면 너비 0 ~ 480px */
@media (max-width: 480px) {
    .course{width: 48%;}
    .course:nth-child(3n){display: block;}
}