.login_form_input {display: inline-flex !important; align-content: center; width: 80%;padding: 12px 20px;margin: 8px 0;background-color: #f6f6f6;border: 1px solid #ccc;box-sizing: border-box;}
.image_container{text-align: center; margin: 24px 0 30px 0;}
button {background-color: #1dc078; color: white !important; padding: 14px 20px;margin: 10px 0;border: #1dc078 solid 1px;cursor: pointer;width: 80%; font-weight: bold;}
button:hover {opacity: 0.8;}
.login_area{display: flex; justify-content: center; width: 1280px; height: 100%; margin: 0 auto;}
.login_form{ width: 100%; align-content: center;}
.component_container{display: flex; justify-content: center; flex-direction: column; text-align: center;}
