.profile_content_wrap{display: flex; flex-direction: column; width: 1030px;}
.top_title{display: inline-flex; width: 100%;}
.border_bottom{width: 100%; border-bottom: 1px solid #e4e4e4; padding: 10px;}
.top_title_text{color: #1dc078; font-size: 18px; font-weight: 700;}
.img_container{height: 300px; justify-content: center; width: 100%; display: flex; margin-top: 20px;}
.profile_img{display: inline-flex; align-self: center; width: 150px; height: 150px;}
.card_container{margin-top: 20px; border: 1px solid #e4e4e4; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding: 32px;}
.menu_module {margin-bottom: 20px; font-weight: 600; font-size: 16px; color: #363636;}
.input_area_module{height: 40px; width: 100%; background-color: #f1f1f1; outline: none; border: none; padding: 8px;}
.input_area_module:focus{outline: none; border: none;}
.save_container{display: flex; justify-content: center; min-height: 50px; padding-bottom: 10px; margin-top: 40px;}
.save_button{display: inline-flex; align-self: center; color: white; background-color: #1dc078; border-radius: 8px; font-size: 14px; font-weight: 700; width: 100%; max-width: 280px; min-height: 40px; align-items: center; justify-content: center; cursor: pointer;}
.margin_bottom_24{margin-bottom: 24px;}