@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}
body, body *{font-family: "Noto Sans KR";}

body, html {width: 100%; height: 100%; margin: 0 auto; overflow-y: hidden; -ms-overflow-style: none; scrollbar-width: none;}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.main_wrap{width: 100%; height: 100%; overflow-y: hidden;}
.flex_container{display: flex; height: 100%; flex-direction: row-reverse;}
.study_wrap{display: flex;}
.study_tab_wrap{display: flex; margin-right: 70px; z-index: 0;}
.checked{background-color: #e9ecef; color : #212529 !important;}
.study_menu{display: flex; list-style: none; padding: 0; margin: 0; width: 100%; flex-direction: column; }
.study_menu li{ font-size: 28px; color: #868E96; display: flex; align-self: center; width: 100%; padding: 16px; justify-content: center; cursor: pointer;}
.study_menu li:hover{color : #212529 !important;}
.study_tab{height: 100%; flex-direction: column; width: 480px; display: flex;}
.study_box_wrap{display: flex; position: absolute; right: 0; top: 0; z-index: 99; min-width: 70px !important; height: 100%; background-color: #f8f9fA; border-left: 1px solid #e8e8e8;}
#video_wrap{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.top_bar, .video_bg, .bottom_menu{flex-grow: 1;}
.top_bar{width: 100%; background-color: #171717; min-height: 52px; max-height: 52px; display: flex; flex-direction: row; }
.clip_board, .dashboard {color: white; align-self: center; justify-content: flex-start; display: inline-flex; margin-left: 5px;}
.dashboard{padding-left: 10px; padding-right: 10px; white-space: nowrap; cursor: pointer;}
.course_dashboard{padding: 12px; color: white; background-color: #212529; display: flex; align-items: center;}
.course_title{ width : 100%; display: flex; color: white; align-items: center; padding: 8px; flex-direction: row; justify-content: space-between;}
.course_title_value{margin-left: 10px; display: inline-flex}
.review_button{background-color: #1dc078; flex-grow: 0; color: white; padding: 8px 16px; border-radius: 8px; display: inline-flex; align-self: center; cursor: pointer;}
.review_button span {align-self: center;}
.text{padding: 16px; display: flex; justify-content: space-between; font-size: 22px; color: #454545; font-weight: 800;}
.note_title{font-size: 22px; color: #454545; font-weight: 800;}
.separator{content: "|"; color: #adb5bd; font-size: 14px; font-weight: 300; padding: 0px 8px 4px 8px;}
.all_note{color: #adb5bd; font-size: 16px; font-weight: 300; cursor: pointer;}
.all_note:hover{color: #454545; text-decoration: underline;}
.text_wrap{display: flex; align-items: center;}
.star{padding-top: 2px; padding-right: 5px;}
#myPlayer{overflow: hidden;}
.bottom_menu {background-color: hsla(0,0%,9%,.69); width: 100%; min-height: 52px; max-height: 52px; margin: 0 auto; display: flex; justify-content: center;}
.button_wrap{display: flex; justify-content: center; align-content: center; width: 500px; color: white;}
.button_wrap div{align-self: center; flex-grow: 1;}
.video_bg{background-color: #171717; overflow-y: scroll; display: flex; flex-direction: column; height: 100%; justify-content: center;}
.min_height{height: calc(100vh - 100px) !important; position: relative;}
.instructorMemo_wrap{width: 100%; background-color: #fff; color: #343A40;}
.course_progress{ width: 100%; background-color: #E9ECEF; color : #1dc078; border-radius: 5px; height: 6px;}
.course_progress::-webkit-progress-bar{ width: 100%; background-color: #E9ECEF; color : #1dc078; border-radius: 5px;}
.course_progress::-webkit-progress-value{ background-color  : #1dc078; border-bottom-left-radius: 5px; border-top-left-radius: 5px;}
.course_progress::-moz-progress-bar{ width: 100%; background-color: #dcdcdc; color : #1dc078; border-radius: 5px;}
.triangle{width: 0px; height: 0px; border-right: 26px solid none; border-left: 26px solid #212529; border-bottom: 26px solid transparent; border-top: 26px solid transparent;}
.hover_interaction{display: flex;}
.close_button{cursor: pointer;}
.opened{transition: width .2s ease,opacity .2s ease; width: 480px; opacity : 1; z-index: 100;}
.closed{transition: width .2s ease,opacity .2s ease; width: 0; opacity : 0;}
.hidden{display: none;}
.video_ended{width: 100%; height: 100%; display: flex; position: absolute; justify-content: center; background-color: rgba(0,0,0,.88); z-index: 5; top: 0; left: 0;}

.course_ended_alert{display: flex; flex-direction: column; padding: 24px; border-radius: 12px; background-color: #212529; width: 100%; max-width: 410px; color: white; height: 166px; align-self: center;}
.next_button_template{border-radius: 4px; padding: 8px 12px; margin-left: 8px;font-size: 15px; font-weight: 500; cursor: pointer;}
.replay_and_next{display: flex; justify-content: flex-end;}
.course_next_title{font-size: 12px;}
.course_next_name{font-weight: 700; margin-bottom: 32px; font-size: 16px;}
.replay{background-color: #343a40; color: white;}
.next{background-color: white; color: #343A40;}
/* 수업 커리큘럼 시작 */
.active{background-color: #e5f5f7 !important; border-left: 6px solid #459aa1 !important;}
.active_lock{background-color: #f1f3f5 !important; border-left: 6px solid #adb5bd !important;}
.active .class_content .class_title{font-weight: 600 !important;}
.active .class_content .class_time *{color: #459AA1 !important;}
.section_title{background-color: #f1f3f5; color: #212529; font-weight: 500; padding: 12px 20px; border-top: 1px solid #dee2e6; border-bottom: 1px solid #dee2e6;}
.class_content{color: #212529; margin-bottom: 4px; font-size: 16px;}
.class_icon{font-size: 28px; color : #CED4DA;}
.class_box{display: flex; align-items: center; padding: 8px 20px; margin-top: 5px; cursor: pointer;}
.class_box:hover{background-color: #f8f9fa;}
.play_icon{margin-right: 12px;}
.played{font-size: 28px; color : #459AA1 !important;}
.title{font-weight: 700; font-size: 18px; color : #333333;}
.course_real_title{margin-bottom: 12px;}
.course_option{margin-bottom: 12px;}
.class_time{font-size: 14px; color : #868e96;}
.course_title_wrap{padding: 12px;}
.course_option{font-size: 15px; color : #495057;}
.class_title{cursor: pointer;}
.course_content_wrap{overflow: auto;}
.time_icon{margin-right: 5px;}
/* 수업 커리큘럼 끝 */
/* 강의 권한 */
.unauthorized_wrap{max-width: 410px; background-color: #ffffff00;  text-align: center; margin: 48px 24px; width: 100%; display: flex; align-self: center; justify-content: center;}
.price{font-size: 24px;font-weight: 600; margin-bottom: 16px; color: white;}
.h1_area h1{font-size: 36px; font-weight: 700; margin-bottom: 8px; color: white;}
.span_area{font-size: 16px; margin-bottom: 8px; color: white;}
.payment_area{display: flex; flex-direction: column; justify-content: center;}
.payment_area div{display: flex; padding: 9px 0; justify-content: center; border-radius: 4px; width: 100%; margin: 4px 6px; cursor: pointer; font-weight: 500; font-size: 16px;}
.do_payment_button{color: #fff; background-color: #1dc078;}
.add_course_button, .go_course_info_button{color: #343A40; background-color: #fff;}
/*  완강 모달  */
.modal_form_wrap{ z-index: 99; display: none; position : fixed; width: 100%; height: 100%; top: 0; left : 0; overflow: auto; background-color: rgba(0,0,0,0.4);  padding-top: 250px;}
.delete_note_form_wrap{z-index: 99; display: none; position : absolute; width: 100%; height: 100%; top: 0; left : 0; overflow: auto; background-color: rgba(0,0,0,0.4);  padding-top: 250px;}
.modal_content{display: flex; width: 460px; height: 400px; background-color: #fefefe;margin: 5px auto; border: 1px solid #888; border-radius: 5px;}
.clear_course_container{padding: 32px 48px;}
.add_cart_content{width: 400px !important; height: 320px !important;}
.modal_container{width: 100%; margin : 0 auto; display: flex; flex-direction: column; }
.modal_buttons_flex_template{display: flex; justify-content: center;  padding: 18px 24px;}
.clear_course_icon{display: flex; justify-content: center; color: #1dc078; font-size: 56px; margin-right: 24px; margin-top: 24px; }
.clear_course_title{font-size: 24px; font-weight: 500; word-break: keep-all; margin-bottom: 24px; text-align: center; margin-top: 24px;}
.clear_course_desc{width: 288px; font-size: 16px; margin: 0 auto; display: flex; justify-content: center; text-align: center; margin-bottom: 24px; word-break: keep-all;}
.modal_submit_button_template{padding: 12px 24px; font-size: 16px; color: white; cursor: pointer; background-color: #1dc078; margin-left: 4px; border-radius: 4px;}
.modal_cancel_button_template{padding: 12px 24px; font-size: 16px; color: #343A40; cursor: pointer; background-color: #f1f3f5; margin-right: 4px; border-radius: 4px;}
.modal_submit_button_template{padding: 12px 24px; font-size: 16px; color: white; cursor: pointer; background-color: #1dc078; margin-left: 4px; border-radius: 4px;}
.add_cart_exit{padding-bottom: 20px; display: flex; justify-content: center; align-items: center; margin-top: 48px;}
.add_cart_exit *{font-size: 48px; color: #1dc078;}
.add_cart_title{display: flex; justify-content: center; text-align: center; font-size: 22px; font-weight: 500; padding-bottom: 6px;}
.add_cart_desc{display: flex; justify-content: center; text-align: center; margin-bottom: 24px;}


.question_search_wrap{display: flex; position: relative; padding: 16px; width: 100%;}
.search_input{width: 100%; outline: none; border: 1px solid #dee2e6; border-radius: 4px; padding: 12px 40px 12px 12px;}
.search_icon{position: absolute; right: 36px; top: 28px; cursor: pointer;}
.search_icon i{font-size: 14px; color: #cccccc;}
.search_input:focus{border: 1px solid #00c471;}
.question_list{height: 100%;}
.question_flex_scroll_wrap{overflow-y: scroll; flex-grow: 1; margin-bottom: 16px; padding-bottom: 48px; -ms-overflow-style: none; scrollbar-width: none;}
.question_flex_scroll_wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.question_list_flex_wrap{display: flex; flex-direction: column; height: 100%;}
.question_content_wrap{position: relative;  display: flex; flex-direction: column; justify-content: space-between; padding: 16px; flex-grow: 1; height: 100%; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;}
.question_content_wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.question_content_template{border-radius: 4px; border: 1px solid #DEE2E6; display: flex; flex-direction: column; cursor: pointer; margin-bottom: 8px;}
.question_content_title_template{color: #639cbf; margin-bottom: 8px;}
.question_content_title_value{font-size: 16px; font-weight: 400; margin-bottom: 6px;}
.question_content_content_value{font-size: 14px; font-weight: 400; color: #858a8d; white-space: nowrap; overflow: hidden; margin-bottom: 8px;}
.question_content_border_template{padding: 12px; display: flex; flex-direction: column; border-bottom: 1px solid #dee2e6;}
.question_obj{display: none; flex-direction: column; overflow-y: scroll;}
.question_write_form{display: none; flex-direction: column; overflow-y: scroll;}
.question_obj_head{display: flex; width: 100%; justify-content: space-between; padding: 16px;}
.question_obj_head span{cursor: pointer; font-size: 20px;}
.question_obj_head span i{cursor: pointer;}
.question_obj_content{padding: 16px 0; display: flex; flex-direction: column;}
.question_obj_content div{margin: 0 20px;}
.question_obj_title{margin-bottom: 8px !important; color: #639cbf;}
.question_obj_title_value{margin-bottom: 20px !important; font-size: 18px; font-weight: 500;}
.question_obj_user_wrap{display: flex; justify-content: space-between; border-bottom: 1px solid #f7f8fa;}
.question_obj_user_wrap ul{list-style: none; display: flex; margin: 0; padding: 0 0 20px 0; border-bottom: 1px solid #f8f9fa;}
.question_obj_user_wrap ul li{float: left; color: #858a8d;}
.question_obj_user_wrap ul li:after {content: "|"; margin: 0 4px; color: #f7f8fa;}
.question_obj_toolbox{display: none;}
.question_flex{display: flex !important;}
.question_obj_toolbox div{margin-left: 6px; padding: 0; cursor: pointer;}
.question_obj_content_value{margin: 20px !important;}
.question_comment_write_form{margin: 0 !important;}
#myComment{width: 100%;}
.question_comment_toolbox_wrap{display: flex; justify-content: flex-end; margin-top: 20px !important;}
.question_comment_write_button{display: flex; padding: 8px 12px; background-color: #343A40; border-radius: 2px; color: white; font-weight: 600; cursor: not-allowed; margin: 0 !important;}
.access{cursor: pointer;}
.comment_template_wrap{display: flex; margin: 10px 0 !important;}
.comment_profile{display: flex; justify-content: space-between;}
.comment_profile_toolbox{display: flex; justify-content: center;}
.comment_profile_toolbox div{cursor: pointer;}
.comment_profile_edit{margin-right: 8px !important;}
.comment_profile_content_wrap{display: flex; flex-direction: column; margin: 0px 0px 0px 12px !important; flex-grow: 1;}
.comment_profile_content_wrap div{margin: 0px;}
.comment_profile_name{margin-right: 8px !important;}
.comment_profile_image_box{width: 24px; height: 24px; border-radius: 70%; overflow: hidden; margin: 0 !important;}
.comment_profile_image_value{width: 100%; height: 100%; object-fit: cover;}
.comment_profile_wrap{display: flex; padding-bottom: 8px; margin: 0 !important;}
.comment_profile_image_wrap{margin: 0 !important;}
.comment_profile_name{font-size: 14px; font-weight: 500; color: #343A40;}
.comment_profile_create_at{color: #abb0b5; font-size: 14px;}

.question_comment_wrap{display: flex; flex-direction: column;}
.question_tag_wrap, .question_obj_tag_wrap{display: flex; padding-bottom: 20px;  margin-bottom: 20px !important; border-bottom: 1px solid #f7f8fa;}
.question_tag_value{display: flex; align-self: center; padding: 6px; margin: 3px !important; border-radius: 3px; background-color: #f1f3f5; color: #616568; white-space: nowrap; font-size: 13px; }

.question_content_toolbar_template{padding: 12px;}
.question_content_user_wrap{display: flex; align-items: center;}
.question_content_user_profile{width: 20px; height: 20px; border-radius: 2px; overflow: hidden; margin-right: 6px;}
.question_content_user_profile_value{width: 100%; height: 100%; object-fit: cover;}
.question_no_item{width: 100%; height: 500px; display: flex;  flex-direction: column; justify-content: center; align-items: center;}
.question_no_item div{font-size: 15px; margin-bottom: 6px;}
.write_question{padding: 12px 48px; border: 1px solid #DEE2E6; border-radius: 2px; font-size: 16px; cursor: pointer; z-index: 112;}

.question_padding_template{display: flex; flex-direction: column; padding: 16px;}
.question_input_template input[type=text]{width: 100%; border: 1px solid #DEE2E6; border-radius: 3px; padding: 8px; height: 50px; font-size: 16px;}
.tag_wrap_template{display: flex; padding: 8px; height: 50px; width: 100%; border: 1px solid #DEE2E6; border-radius: 3px;}
.hashtag{font-size: 16px; color: #666666; align-self: center; margin-right: 4px;}
.hashtag_value{align-self: center; margin-right: 4px;}
.question_tag{border: none; outline: none; font-size: 16px; align-self: center;}
.tag_description{font-size: 12px; color: #868e96; margin-top: 6px;}
.question_button_wrap{display: flex; justify-content: flex-end; align-items: center; padding: 16px;}
.question_button{display: flex; padding: 8px 0; flex-basis: 84px; cursor: pointer; justify-content: center; text-align: center;  font-size: 16px; font-weight: 500; border-radius: 4px; background: white; color: #343A40;}
.question_submit{background: #495057; color: white;}
.question_submit:hover{background: #343A40;}

.hashtag_value{display: flex;}
.hash_tag_template{display: flex; align-self: center; padding: 6px; margin: 3px; border-radius: 3px; background-color: #f1f3f5; color: #616568; white-space: nowrap; font-size: 13px; cursor: pointer;}
.newQuestion{position: absolute; bottom: 12px;  width: calc(100% - 32px); text-align: center; padding: 12px 0; background: #1dc078; color: white; font-size: 16px; cursor: pointer; font-weight: 400;}
.tag_value{margin-right: 4px;}
.delete_question_exit, .delete_note_exit{padding-bottom: 20px; display: flex; justify-content: center; align-items: center; margin-top: 48px;}
.delete_question_exit *, .delete_note_exit *{font-size: 48px; color: #ffa016;}
.delete_question_content, .delete_note_content{height: 300px !important;}
.delete_question_title, .delete_question_desc, .delete_note_title, .delete_note_desc{display: flex; flex-grow: 1; justify-content: center; text-align: center; align-self: center;}
.delete_question_title, .delete_note_title{font-size: 22px; font-weight: 500;}
.delete_question_desc, .delete_note_desc{font-size: 16px;}
.delete_question_cancel, .delete_question_submit, .delete_note_cancel, .delete_note_submit{cursor: pointer;}

.note_content_wrap{display: flex; flex-direction: column; flex-grow: 1; padding-bottom: 300px; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none;}
.note_content_wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.note_wrap{position: relative; }
.note_write_form{position : absolute; background-color: #f1f3f5; flex-direction: column;  bottom: 0; display: flex; justify-content: center; flex-grow: 1; width: 100%; padding: 18px; opacity: 0.99;}
.note_write_area{ display: flex; flex-direction: column; flex-grow: 1; margin-bottom: 12px;}
.note_write_button_wrap{display: flex; justify-content: flex-end; margin-bottom: 24px;}
.note_write_button{padding: 4px 8px; background-color: #495057; cursor: pointer; color: white; border-radius: 4px;}
.note_write_button:hover{background-color: #343a40;}

.note_content_template{border-bottom: 1px solid #e9ecef; display: flex; flex-direction: column; padding: 16px 20px;}
.note_content_template:hover{background-color: #f8f9fa;}
.note_content_form{margin-bottom: 8px;}

.note_toolbox_form{display: flex; justify-content: flex-end;}
.note_edit_wrap, .note_delete_wrap {display: flex; cursor: pointer;}
.note_edit_icon, .note_delete_icon {margin-left: 12px;}
.note_edit_text, .note_delete_text {margin-left: 4px;}
.note_edit_text:hover{text-decoration: underline;}
.note_delete_text:hover{text-decoration: underline;}

.clicked{border-left: 6px solid #459aa1; background-color: #eef8f9;}
.clicked:hover{background-color: #eef8f9;}
.noSearchNote{display: flex; justify-content: center; align-items: center; text-align: center; flex-grow: 1;}
.edit_mode{width: 100%; display: flex; flex-direction: column;}
.edit_textarea{margin-bottom: 24px;}
.edit_toolbar{display: flex; justify-content: flex-end;}
.edit_mode_cancel_button, .edit_mode_submit_button{padding: 4px 8px; margin-left: 8px; cursor: pointer; border-radius: 4px;}
.edit_mode_cancel_button{color: #343A40; background-color: white;}
.edit_mode_submit_button{color: white; background-color: #495057;}

.animate{-webkit-animation: animatezoom 0.6s; animation: animatezoom 0.6s;}
@-webkit-keyframes animatezoom { from {-webkit-transform: scale(0)} to {-webkit-transform: scale(1)} }
@keyframes animatezoom { from {transform: scale(0)} to {transform: scale(1)} }
