@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}
body, body *{font-family: "Noto Sans KR";}

body, html {width: 100%; height: 100%; margin: 0 auto; overflow-y: hidden;}
.main_wrap{width: 100%; height: 100%; overflow-y: hidden;}
.flex_container{display: flex; height: 100%; flex-direction: row-reverse;}
.study_wrap{display: flex;}
.checked{background-color: #e9ecef; color : #212529 !important;}
.study_menu{display: flex; list-style: none; padding: 0; margin: 0; width: 100%; flex-direction: column; }
.study_menu li{ font-size: 28px; color: #868E96; display: flex; align-self: center; width: 100%; padding: 16px; justify-content: center; cursor: pointer;}
.study_menu li:hover{color : #212529 !important;}
.curriculum_wrap{display: flex; min-width: 410px !important; height: 100%; flex-direction: column;}
.study_box_wrap{display: flex; min-width: 70px !important; height: 100%; background-color: #f8f9fA; border-left: 1px solid #e8e8e8;}
#video_wrap{width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.top_bar, .video_bg, .bottom_menu{flex-grow: 1;}
.top_bar{width: 100%; background-color: #171717; min-height: 52px; max-height: 52px; display: flex; flex-direction: row; }
.clip_board, .dashboard {color: white; align-self: center; justify-content: flex-start; display: inline-flex; margin-left: 5px;}
.dashboard{margin-left: 10px; min-width: 120px; cursor: pointer;}
.course_dashboard{padding: 12px; color: white; background-color: #343A40; display: flex; align-items: center;}
.course_title{ width : 100%; display: flex; color: white; align-items: center; padding: 8px; flex-direction: row; justify-content: space-between;}
.course_title_value{margin-left: 10px; display: inline-flex}
.review_button{background-color: #1dc078; flex-grow: 0; color: white; padding: 8px 16px; border-radius: 8px; display: inline-flex; align-self: center; cursor: pointer;}
.review_button span {align-self: center;}
.text{padding: 16px; display: flex; justify-content: space-between; font-size: 22px; color: #454545; font-weight: 800;}
.star{padding-top: 2px; padding-right: 5px;}
#myPlayer{overflow: hidden;}
.bottom_menu {background-color: hsla(0,0%,9%,.69); width: 100%; min-height: 52px; max-height: 52px; margin: 0 auto; display: flex; justify-content: center;}
.button_wrap{display: flex; justify-content: center; align-content: center; width: 500px; color: white;}
.button_wrap div{align-self: center; flex-grow: 1;}
.video_bg{background-color: #171717; overflow-y: scroll; display: flex; flex-direction: column;}
.instructorMemo_wrap{width: 100%; background-color: #fff; color: #343A40;}
.course_progress{ width: 100%; background-color: #E9ECEF; color : #1dc078; border-radius: 5px; height: 6px;}
.course_progress::-webkit-progress-bar{ width: 100%; background-color: #E9ECEF; color : #1dc078; border-radius: 5px;}
.course_progress::-webkit-progress-value{ background-color  : #1dc078; border-bottom-left-radius: 5px; border-top-left-radius: 5px;}
.course_progress::-moz-progress-bar{ width: 100%; background-color: #dcdcdc; color : #1dc078; border-radius: 5px;}

/* 수업 커리큘럼 시작 */
.active{background-color: #e5f5f7; border-left: 6px solid #459aa1;}
.section_title{background-color: #f1f3f5; color: #212529; font-weight: 500; padding: 12px 20px; border-top: 1px solid #dee2e6; border-bottom: 1px solid #dee2e6;}
.class_content{color: #212529; margin-bottom: 4px; font-size: 16px;}
.class_icon{font-size: 28px; color : #CED4DA;}
.class_box{display: flex; align-items: center; padding: 8px 20px; margin-top: 5px;}
.play_icon{margin-right: 12px;}
.played{font-size: 28px; color : #459AA1 !important;}
.title{font-weight: 700; font-size: 18px; color : #333333;}
.course_real_title{margin-bottom: 12px;}
.course_option{margin-bottom: 12px;}
.class_time{font-size: 14px; color : #868e96;}
.course_title_wrap{padding: 12px;}
.course_option{font-size: 15px; color : #495057;}
.class_title{cursor: pointer;}
.course_content_wrap{overflow: auto;}
.time_icon{margin-right: 5px;}
/* 수업 커리큘럼 끝 */