html, body {width: 100%; height: 100%; margin: 0px auto; padding: 0;}
.header{display: flex; width: 100%; height: 10%; justify-content: center;}
.header_img_wrap{display: flex; justify-content: center; align-self: center;}